.process {
  background-color: $process-block-bg-color;
}

.process__wrapper {
  padding-top: 147px;
  padding-bottom: 155px;
}

.process__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
}

.process__item {
  width: 31.6%;
  padding: 50px 36px 43px;
}

.process__title {
  margin: 0;
  margin-bottom: 80px;
  font-size: 30px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  &::first-line {
    font-size: 24px;
    font-weight: 400;
    color: $secondary-color-text;
  }
}

@media (max-width: 1024px) {
  .process__wrapper {
    padding-top: 58px;
    padding-bottom: 44px;
  }

  .process__title {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 36px;

    &::first-line {
      font-size: 22px;
    }
  }

  .process__list {
    flex-direction: column;
    padding: 10px 0;
  }

  .process__item {
    width: 90%;
    margin: 0 auto;
    padding: 20px 34px;
  }
}

@media (max-width: 767px) {
  .process__wrapper {
    padding-top: 44px;
    padding-bottom: 24px;
  }

  .process__title {
    margin-bottom: 30px;
  }
}
