$main-font: 'Poppins', 'Arial', sans-serif;
$secondary-font: 'Nunito', 'Helvetica', sans-serif;
$process-block-font: 'Raleway', 'MS Sans Serif', sans-serif;
$primary-color: #0b4bec;
$gradien-header: #0a38b6;
$gradient-color: #071d68;
$process-block-bg-color: #f3f2f2; 
$secondary-color-text: #808080; 
$border-color: #b3b3b3; 
$placeholder-color: #919191;
$input-border-color: #767676;